/* member-list */

#member-list md-icon {
	margin-right: -8px;
    width: 14px;
    overflow: hidden;
    z-index: 100;
    cursor: move;
}

#member-list button {
	padding-left: 20px;
	background-color: transparent;
}

.color-square {
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.ui-sortable-helper {
	background-color: rgba(0, 0, 0, 0.1);
}

/* member-sidenav */

form#newMember > md-input-container > span {
	line-height: 30px;
}

form#newMember > md-input-container > md-select {
	margin: 0px;
	padding: 0px;
}

div.color-picker {
	height: 26px;
}

md-option.color-picker > .md-text {
	width: 100%;
}
