<md-content flex layout-padding>
  <md-list ui-sortable="member.sortableOptions" id="member-list">
    <md-list-item ng-repeat="person in member.list" id="{{person.id}}">

      <md-icon md-font-set="material-icons">menu</md-icon>
      
      <md-button class="md-no-style" ng-click="member.set($index); ui.showSideNav();">
        <div class="md-list-item-inner ng-scope">
          <div ng-style="{'background-color': person.color}" class="color-square"></div>
          <p>{{person.name}}</p>
        </div>
      </md-button>

    </md-list-item>
  </md-list>
</md-content>