<md-sidenav md-is-open="ui.member_is_open" class="md-sidenav-right md-whiteframe-z2 full-width">
  <md-toolbar layout="row" layout-align="center center" class="md-whiteframe-z1">   
    <!-- 新增成員 -->
    <div flex="100" layout="row" ng-show="member.currIndex === ''" class="btn-group btn-large">
      <md-button flex="50" ng-click="ui.closeSideNav(); member.reset()">
        <md-icon md-font-set="material-icons" id="closeSideNav">chevron_left</md-icon>
        <md-icon md-font-set="material-icons">clear</md-icon> 取消
      </md-button>
      <md-button flex="50" ng-click="member.update(); ui.closeSideNav(); member.reset()">
        <md-icon md-font-set="material-icons">done</md-icon> 儲存
      </md-button>
    </div>

    <!-- 編輯成員 -->
    <div flex="100" layout="row" layout-align="end center" ng-show="member.currIndex !== ''"> 
      <md-button ng-click="ui.closeSideNav(); member.reset()" id="closeSideNav">
        <md-icon md-font-set="material-icons" >chevron_left</md-icon> 編輯成員
      </md-button>
      <md-button ng-click="member.delete(); ui.closeSideNav(); member.reset()" class="md-icon-button">
        <md-icon md-font-set="material-icons">delete</md-icon>
      </md-button>
      <md-button ng-click="member.update(); ui.closeSideNav(); member.reset()" class="md-icon-button">
        <md-icon md-font-set="material-icons">done</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  
  <md-content layout-padding>
    <form id="newMember">

      <md-input-container layout="row" md-no-float>
        <span flex="33">名稱</span>
        <input flex="66" ng-model="member.currName" type="text" placeholder="名稱">
      </md-input-container>

      <md-input-container layout="row">
        <span flex="33">顏色</span>
        <color-picker></color-picker>
      </md-input-container>

    </form>
  </md-content>
</md-sidenav>