<md-content flex layout-padding>
  <md-list ui-sortable="user.sortableOptions" ng-model="user.list" id="user-list">
    <md-list-item ng-repeat="User in user.list" id="{{User.id}}">

      <md-icon md-font-set="material-icons">menu</md-icon>
      
      <md-button class="md-no-style" ng-click="user.set($index); ui.showSideNav();">
        <div class="md-list-item-inner ng-scope">
          <div ng-style="{'background-color': User.color}" class="color-square"></div>
          <p>{{User.name}}</p>
        </div>
      </md-button>

    </md-list-item>
  </md-list>
</md-content>