<md-content flex layout-padding id="summary">
  <div ng-hide="ui.summary_is_open === false" class="hide-total">
    <h3 class="text-center">總共</h3>
    <h1 class="text-center" id="total">${{getTotalExpense() | number:2}}</h1>
  </div>

  <md-list>
    <md-list-item ng-repeat="person in memberList" layout="column" ng-hide="ui.summaryOf[$index] === false" ng-init="ui.summaryOf[$index] = true">  
  

      <md-button class="md-no-style" ng-click="ui.showRecordOf($index)" flex>
        <p>
          <span ng-style="{'color': person.color}">{{person.name}}</span>
          <span class="pull-right red" ng-show="getDebtOf(person.id) > 0">少付 ${{getDebtOf(person.id) | number:2}}</span>
          <span class="pull-right" ng-show="getDebtOf(person.id) < 0">多付 ${{-getDebtOf(person.id) | number:2}}</span>
        </p>
        
        <div class="progress-bar" ng-style="outerStyle(person.id)">
          <div ng-style="innerStyle(person.id, person.color)"></div>
          <p>{{getSummaryOf(person.id)}}</p>
        </div>
      </md-button>


      <md-list flex ng-show="ui.recordListOf[$index]" ng-init="ui.recordListOf[$index] = false" class="full-width show-list">
        <md-subheader class="md-no-sticky">消費記錄</md-subheader>
        <md-list-item ng-repeat="Record in recordList" ng-show="isPayer($index, person.id)" layout="column"> 

          <md-button class="md-no-style" ng-click="set(Record.id); ui.showSideNav();" flex="100">
            <div class="md-list-item-inner ng-scope">
              <p>{{Record.description}}</p>
              <p class="text-right">${{Record.amount/Record.payers.length | number:2}}</p>
            </div>
            <md-divider ng-show="!$last"></md-divider>
          </md-button>

        </md-list-item>
      </md-list>
        
  
    </md-list-item>
  </md-list>
</md-content>