<md-content flex layout-padding>
  <p>總共</p>
  <p>${{getTotalExpense() | number:2}}</p>
  <md-list id="summary">
    <md-list-item ng-repeat="person in memberList" layout="column">  
  
      <md-button class="md-no-style" ng-click="" flex="100">
        <div class="md-list-item-inner ng-scope">
          <p>{{person.name}}</p>
          <p>總共花費: ${{getExpenseOf(person.id) | number:2}}</p>
          <p>尚欠: ${{getDebtOf(person.id) | number:2}}</p>
        </div>
      </md-button>


      <md-list flex="100">
        <md-list-item ng-repeat="Record in recordList" ng-show="isPayer($index, person.id)" layout="column"> 

          <md-button class="md-no-style" ng-click="set(Record.id); ui.showSideNav();" flex="100">
            <div class="md-list-item-inner ng-scope">
              <p>{{Record.amount/Record.payers.length | number:2}}</p>
              <p>{{Record.description}}</p>
            </div>
          </md-button>

        </md-list-item>
      </md-list>
        
  
    </md-list-item>
  </md-list>
</md-content>